body, div, span, p, a, img, h1, h2, h3, h4, h5, h6, ul, ol, li,
	blockquote, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

ul#nav li.topmenu>a {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #BBBBBB;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	padding: 10px 14px;
	color: #BBBBBB;
}

ul#nav li.topmenu:hover>a, ul#nav li.topmenu a.pressed {
	background-color: #86DbC8;
	border-style: solid;
	border-color: #86DbC8;
	color: #314F49;
}

ul, li, ol {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

/* General body layout */
body {
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

#menus {
	float: right;
	margin: 0;
	max-width: 550px;
	width: 100%;
}

.menuDiv {
	position: relative;
	top: 40px;
	max-width: 600px;
	width: 100%;
	height: 300px;
	z-index: 1000;
}
ul#nav, ul#nav ul {
	margin: 0;
	list-style: none;
	padding: 0;
	background-color: none;
	border-width: 0;
	border-style: solid;
	border-color:;
}

ul#nav ul {
	visibility: hidden;
	position: absolute;
	left: 100%;
	top: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0;
	-moz-transition: all 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s;
	background-color: #0d0d0f;
	border-width: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-style: solid;
	border-color: #313337;
	padding: 0;
	filter: alpha(opacity = 80)
}

ul#nav li:hover>ul {
	visibility: visible;
	opacity: 1;
}

ul#nav li {
	position: relative;
	display: block;
	white-space: nowrap;
	font-size: 0;
}

ul#nav li:hover {
	z-index: 1;
}

ul#nav ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}

ul#nav>li:hover>ul {
	opacity: 0.8;
}

ul#nav {
	font-size: 0;
	z-index: 999;
	position: relative;
	display: block;
	float: left;
	padding: 0 7px 7px;
	background-color: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

ul#nav>li {
	margin: 7px 0 0;
}

ul#nav a:active, ul#nav a:focus {
	outline-style: none;
}

ul#nav a {
	display: block;
	vertical-align: middle;
	text-align: left;
	text-decoration: none;
	font: 15px Noto Sans, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: pointer;
	padding: 3px;
	background-color:;
	background-repeat: repeat;
	border-width: 0px;
	border-style: none;
	border-color:;
}




ul#nav img {
	border: none;
	vertical-align: middle;
	margin-right: 3px;
}



